<!DOCTYPE html>
<html ng-app="app1" ng-init="person = {fName:'Artemas', lName:'Muzanenhamo'};">
<!-- **ng-app** Set so that AngularJS knows where to begin compiling your code. app1 will be the Module name of course.-->
<!-- **ng-init** This directive initialises application data by assigning different values to variables -->
	<head>
		<meta charset="UTF-8">
		<title>AngularJS Tutorial</title>
	</head>
	<body>
		<h1>Angular1</h1>
		<div ng-controller="ctrl1">
		<!-- **ng-controller** this directive is used to define a controller.  -->
			<span>Values:</span>
			<input type="text" ng-model="first">
			<input type="text" ng-model="second">
			
			<button ng-click="updateValue()">Sum</button>
			<br>
			<br>
			<!-- Different ways of binding data...  (1)-->
			{{calculation}}
			
			<!-- Different ways of binding data...  (2)-->
			<p>Your first value is: {{first}}</p>
			<p>Your second value is {{second}}<p>
			
			<!-- Different ways of binding data...  (3)-->
			<p>Your second value is:
				<span data-ng-bind="second"></span>
			</p>
			
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" type="text/javascript"></script>
		<script src="js/uiWebpage.js" type="text/javascript"></script>
	</body>
</html>